/* payment-page.css */

.payment-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  
} 


.payment-form h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: rgb(227, 82, 82);
}

.payment-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.payment-form input,
.payment-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid  rgb(227, 82, 82);
  border-radius: 4px;
  resize: vertical;
}

.payment-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}

.payment-form button:hover {
  background-color: rgb(227, 82, 82);
}

.loading-container {
  text-align: center;
  margin-bottom: 20px;
  
}

.loader {
  width: 10%;
  height: 10%;
  
  
  
}

@media (max-width: 600px) {
  .payment-form {
    padding: 10px;
  }
}
