.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
}

.logo {
  width: 7%;
  height: 3%;
  border-radius: 50%;
  margin-left: 7%;
}

.header__nav {
  margin-left: auto;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 100px;
  padding: 0;
}

.header__menu-item {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0 50px;
  cursor: pointer;
  transition: .5s;
}

.header__menu-item:hover {
  color: #00FFFF;
}

input {
  border: none;
  outline: none;
  width: 200px;
  padding: 5px;
  font-size: 14px;
}

.cart-icon {
  font-size: 60px;
  color: white;
  transition: .5s;
}

.cart-icon:hover {
  color: #FF00FF;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 10%;
    
  }
  
  .header__menu {
    margin-right: 20px;
  }

  .header__menu-item {
    margin: 0 20px;
    font-size: 20px;
  }

  input {
    width: 150px;
  }

  .cart-icon {
    font-size: 35px;
  }
}
