.payment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .payment-form h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .payment-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .payment-form input[type="text"],
  .payment-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .payment-form button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  
  .payment-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .loading-container{
    
    width: 50%;
    margin: auto;

  }

  .loading-container img{
    width: 100%;

  }
  